@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Product>

<div class="row">
    <div class="col-lg-2">
        <form asp-controller="sellerproducts" asp-action="index">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchString"
                       placeholder="Search" aria-label="Search"
                       value="@ViewBag.SearchString">
            </div>
            <div class="input-group mb-3">
                <select name="categoryId" class="form-control form-select">
                    <option value="0" selected="@ViewBag.SelectedCategoryId == 0">None</option>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.Value" selected="@(ViewBag.SelectedCategoryId.ToString() == category.Value)">
                            @category.Text
                        </option>
                    }
                </select>
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
            </div>
        </form>
    </div>
    <div class="col-lg-10">
        <a class="btn btn-primary mb-3" asp-controller="sellerproducts" asp-action="add">Insert product</a>

        <h6 class="text-success mb-3">@TempData["message"]</h6>

        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th>Thumbnail</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>
                            <img src="@product.ThumbnailUrl" alt="@product.Name"
                                 style="width: auto; height: 50px;" />
                        </td>
                        <td>@product.Name</td>
                        <td>@product.Category.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Quantity</td>
                        <td>
                            <span class="badge rounded-pill @GetStatusBadgeColor(product.StatusNavigation.Name)">
                                @product.StatusNavigation.Name
                            </span>
                        </td>
                        <td>
                            @if (!"DISCONTINUED".Equals(product.StatusNavigation.Name))
                            {

                                <a class="btn btn-info mr-1"
                                   asp-controller="sellerproducts" asp-action="details" asp-route-id="@product.Id">
                                    Details
                                </a>
                                <a class="btn btn-danger mr-1"
                                   asp-controller="sellerproducts" asp-action="deactivate" asp-route-id="@product.Id">
                                    Deactivate
                                </a>
                                <a class="btn btn-primary mr-1"
                                   asp-controller="images" asp-action="getallproductimages" asp-route-productid="@product.Id">
                                    Images list
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <nav>
            <ul class="pagination justify-content-center">
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-page="@(ViewBag.CurrentPage - 1)"
                           asp-route-searchString="@ViewBag.SearchString"
                           asp-route-categoryId="@ViewBag.SelectedCategoryId">
                            Previous
                        </a>
                    </li>
                }

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-page="@i"
                           asp-route-searchString="@ViewBag.SearchString"
                           asp-route-categoryId="@ViewBag.SelectedCategoryId">
                            @i
                        </a>
                    </li>
                }

                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-action="Index"
                           asp-route-page="@(ViewBag.CurrentPage + 1)"
                           asp-route-searchString="@ViewBag.SearchString"
                           asp-route-categoryId="@ViewBag.SelectedCategoryId">
                            Next
                        </a>
                    </li>
                }
            </ul>
        </nav>

    </div>
</div>


@functions {
    public string GetStatusBadgeColor(string name)
    {
        switch (name)
        {
            case "AVAILABLE":
                return "bg-success";
            case "OUT_OF_STOCK":
                return "bg-warning";
            case "DISCONTINUED":
                return "bg-secondary";
            default:
                return "";
        }
    }
}